<ion-header >
  <ion-toolbar>
    <ion-title class="grey-100">
      تأكيد الرحلة 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class=" bg-white">

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
        {{ rideInfo.rideSource.adminAreaLevel1 }}, {{ rideInfo.rideSource.locality }}
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="pin-outline" color="light" slot="start"></ion-icon>
          <ion-label color="light">
            مكان المغادرة
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
        {{ rideInfo.rideDestination.adminAreaLevel1 }}, {{ rideInfo.rideDestination.locality }}
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="golf-outline" color="light" slot="start"></ion-icon>
          <ion-label color="light">
            مكان الوصول
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
        {{rideInfo.rideDistance.text}}
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="analytics-outline" color="light" slot="start"></ion-icon>
          <ion-label color="light">
            المسافة 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
        {{rideInfo.rideAverageDuration.text}}
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="timer-outline" color="light" slot="start"></ion-icon>
          <ion-label color="light">
            متوسط ​​الوقت 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
        {{rideInfo.rideNumberOfSeats}}
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="people-outline" color="light" slot="start"></ion-icon>
          <ion-label color="light">
            عدد المقاعد 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
        {{rideInfo.ridePrice}} RSA
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item class="pt-2">
          <ion-icon name="cash-outline" color="light" slot="start"></ion-icon>
          <ion-label color="light">
            السعر  
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
   
  </ion-card>

  <div class="flex item-center justify-start mt-5">
    <ion-fab>
      <ion-fab-button class="flex-row" (click)="presentLoading()">
        تأكيد
      </ion-fab-button> 
    </ion-fab>
  </div>
</ion-content> 