<ion-header >
  <ion-toolbar>
    <ion-title class="grey-100">
      صفحة التسعير 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class=" bg-white"> 

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        tunisie tunis
        <!-- {{rideSource}} -->
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="pin-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
            مكان المغادرة
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        tunisie tunis
        <!-- {{rideDestination}} -->
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="golf-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
            مكان الوصول
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        122 km
        <!-- {{rideDistanceText}} -->
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="analytics-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
            المسافة 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        2 heures
        <!-- {{rideAverageDuration}} -->
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="timer-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
            متوسط ​​الوقت 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>
        للمزيد من المعلومات انقر هنا
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item>
          <ion-icon name="cash-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
            السعر المسموح للفرد 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          من
        </ion-label>
        <ion-label>
          <!-- {{minPermittedPrice}} RSA -->
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          إلى
        </ion-label>
        <!-- <ion-label>{{maxPermittedPrice}} RSA</ion-label> -->
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-item lines="none">
          <ion-label color="light">
            أدخل السعر 
          </ion-label>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="أدخل السعر بالريال" color="light" type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="flex item-center justify-center mt-5" *ngIf="next">
    <ion-fab>
      <ion-fab-button class="flex-row" (click)="nextStep()">
        <ion-icon name="arrow-forward-outline" size="large" ></ion-icon>
      </ion-fab-button> 
    </ion-fab>
  </div>
</ion-content> 