<!-- <p>
  user-rides works!
  cd "C:\Program Files\Oracle\Virtualbox"
  VBoxManage setextradata “Mac OS Mojave” VBoxInternal2/EfiGraphicsResolution 1024x768
</p> -->
<ion-content [fullscreen]="true" color="light">

  <div class="wrapper">
    <div class="overlay-wrapper"></div>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-button slot="end" class="box-none mt-3" style="--background: transparent"
          [routerLink]="['/driver/dashboard']">
          <ion-icon name="chevron-back" size="large" class="yellow-dark"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>

    <ion-item class="mt-2 mb-5" lines="none">
      <ion-icon name="car-sport-outline" slot="start" size="small" class="yellow-dark"></ion-icon>
      <ion-label>
        <ul>
          <li>
            <h2 class="text-xl yellow-dark">الرحلات</h2>
          </li>
          <li><span class="text-sm yellow-dark">صفحة الرحلات</span></li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-card class="main-card mt-5">
      <ion-card-content>

        <ion-item *ngIf="!rides">
          <ion-label>
            <h1 class="text-lg grey-900">لا يوجد رحلات بعد</h1>
          </ion-label>
        </ion-item>

        <div *ngIf="rides">

          <ion-card *ngFor="let ride of rides">
            <ion-card-header>
              <ion-card-title>
                {{ride.rideInfo.rideSource.address}}
              </ion-card-title>
              <ion-card-subtitle>
                {{ride.rideInfo.rideDestination.address}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label>
                  <span *ngFor="let i of [1, 2, 3, 4]">
                    <ion-icon name="star-outline" color="warning"></ion-icon>
                  </span>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-card-content>
    </ion-card>
    <ion-fab>
      <ion-fab-button class="flex-row" [routerLink]="['/driver/add/ride-source']">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>