<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    This our home page
    <ion-button [routerLink]="['/admin/drivers/driver-list']">
      Click here To Go to Driver Page
    </ion-button>
    <ion-button [routerLink]="['/admin/riders/rider-list']">
      Click here To Go to Riders Page
    </ion-button>
  </div>
</ion-content>
