<ion-header >
  <ion-toolbar>
    <ion-title class="grey-100">
      عدد المقاعد
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="flex item-center" style="height: 100%; width: 100%;">
    <ion-item style="width: 100%;">
      <ion-item>
        <ion-datetime displayFormat="MM DD" placeholder="حدد التاريخ"></ion-datetime>
      </ion-item>
    </ion-item>
  </div>
  <ion-fab>
    <ion-fab-button class="flex-row" (click)="nextStepRidePrice()">
      <ion-icon name="arrow-forward-outline" size="large" ></ion-icon>
    </ion-fab-button> 
  </ion-fab>
</ion-content> 

